footer {
	color: $white;
	background-color: $dark-blue;
	background-image: url('../images/footer-logo.png');
	background-repeat: no-repeat;
	background-position: left -150px bottom -100px;
	background-size: 70%;
  position: relative;
  z-index: 2;
  @include media-breakpoint-up(lg) {
  	padding-top: 200px;
  	margin-top: -200px;
  }
	h4 {
		font-size: 28px;
		text-transform: capitalize;
		@include media-breakpoint-up(lg) {
			font-size: 38px;
		}
	}
	.footer-form{
		text-align: center;
		padding: 70px 0;
		p {
			font-size: 15px;
			@include media-breakpoint-up(lg) {
				font-size: 20px;
			}
		}
		form {
			max-width: 100%;
			margin: 0 auto;
			@include media-breakpoint-up(lg) {
				max-width: 60%;
			}
			label {
				display: none;
			}
			button {
				@include float-right;
			}
			/* Chrome, Safari, Edge, Opera */
			input::-webkit-outer-spin-button,
			input::-webkit-inner-spin-button {
			  -webkit-appearance: none;
			  margin: 0;
			}
			/* Firefox */
			input[type=number] {
			  -moz-appearance: textfield;
			}
		}
	}
	.footer-links{
		padding-top: 50px;
		border-top: 1px solid $hr-color;
		border-bottom: 1px solid $hr-color;
		ul {
			margin-bottom: 40px;
			li{
				a {
					font-family: 'Lato', sans-serif;
					font-size: 16px;
					text-transform: capitalize;
					color: $white;
					@include transition(all .3s ease);
					@include hover-focus(){
						color: $black;
					}
				}
			}
		}
	}
	.copy-right{
		&-links{
			display: flex;
			align-items: center;
			justify-content: space-between;
			padding: 20px 0;
			@include media-breakpoint-down(sm) {
				flex-direction: column;
				align-items: flex-start;
			}
			a {
				color: $white;
				@include transition(all .3s ease);
					@include hover-focus(){
						color: $black;
					}
			}
		}
	}
}